#config parameters

[I/O]
#file names
template_file = /home/ckrawiec/DES/data/balrog_sva1_TRUTH_zp_corr_fluxes.fits
target_file = /home/ckrawiec/DES/data/balrog_sva1_auto_tab11_SIM_TRUTH_zp_corr_fluxes.fits
output_file = /home/ckrawiec/DES/magnification/lbgselect/zproboutput/balrog_sva1_balrogz_0griz_auto_zpcorr_5tree_z3_3bins_tab11_0-10000.fits

[debugging]
#debug parameters
debug = False
#N_debug = 300

[parameters]
#bands to use, same case as column names require
filters = GRIZ

#redshift groups for which to calculate probability
#of target membership
redshift_ranges = [[0.001, 1.0], [1.0, 3.0], [3.0, 9.9]]

#number of threads for multiprocessing
num_threads = 8
#'tree' or 'full' integration over templates
integration = tree
query_radius = 5.

[data]
#target column names, case sensitive
target_id_column = BALROG_INDEX
target_data_column = FLUX_AUTO_{}
target_error_column = FLUXERR_AUTO_{}

#template column names, case sensitive
template_id_column = BALROG_INDEX
template_data_column = FLUX_0_{}
redshift_column = Z

#specify indices to use slice of target data
#if not specified, all are used
target_start_index = 0
target_end_index = 10000
