#config parameters

[I/O]
#file names
template_file = /home/ckrawiec/DES/magnification/lbgselect/mocks/run3/zprob_mock03.fits
target_file = /home/ckrawiec/DES/magnification/lbgselect/mocks/run3/zprob_mock03.fits
output_file = /home/ckrawiec/DES/magnification/lbgselect/zproboutput/run3_mock03_tree.fits

[debugging]
#debug parameters
debug = False
#N_debug = 300

[parameters]
#bands to use, same case as column names require
filters = AB

#redshift groups for which to calculate probability
#of target membership
redshift_ranges = [[0.001, 3.0], [3.0, 9.9]]

#number of threads for multiprocessing
num_threads = 8
#'tree' or 'full' integration over templates
integration = tree
query_radius = 6.

[data]
#target column names, case sensitive
target_id_column = ID
target_data_column = FLUX_{}
target_error_column = FLUXERR_{}

#template column names, case sensitive
template_id_column = ID
template_data_column = TRUE_FLUX_{}
redshift_column = Z

#specify indices to use slice of target data
#if not specified, all are used
#target_start_index = 
#target_end_index = 
