#config parameters

[I/O]
#file names
template_file = /home/ckrawiec/DES/magnification/lbgselect/mocks/run7/zprob_mock02.fits
target_file = /home/ckrawiec/DES/magnification/lbgselect/mocks/run7/zprob_mock02.fits
output_file = /home/ckrawiec/DES/magnification/lbgselect/zproboutput/run7_mock02_full_Efunc_260000-270000.fits

[debugging]
#debug parameters
debug = False
N_debug = 300

[parameters]
#bands to use, same case as column names require
filters = GR

#redshift groups for which to calculate probability
#of target membership
redshift_ranges = [[0.001, 3.0], [3.0, 9.9]]

#number of threads for multiprocessing
num_threads = 12
#'tree' or 'full' integration over templates
integration = full
#query_radius = 5.

[data]
#target column names, case sensitive
target_id_column = ID
target_data_column = FLUX_{}
target_error_column = FLUXERR_{}

#template column names, case sensitive
template_id_column = ID
template_data_column = TRUE_FLUX_{}
redshift_column = Z

#specify indices to use slice of target data
#if not specified, all are used
target_start_index = 260000
target_end_index = 270000
