#config parameters

[I/O]
#file names
template_file = /home/ckrawiec/DES/data/sva1_gold_auto_good_regions_cosmos.fits
target_file = /home/ckrawiec/DES/data/sva1_gold_auto_good_regions_no_cosmos.fits
output_file = /home/ckrawiec/DES/magnification/lbgselect/zproboutput/sva1_gold_cosmos_zminchi2_auto_griz_z3_4bins_stars_full_gauss_134000000-135000000.fits

[debugging]
#debug parameters
debug = False
N_debug = 300

[parameters]
#bands to use, same case as column names require
filters = GRIZ

#redshift groups for which to calculate probability
#of target membership
redshift_ranges = [[0.0, 0.1], [0.1, 1.0],[1.0, 3.0], [3.0, 9.9]]

#number of threads for multiprocessing
num_threads = 12
#'tree' or 'full' integration over templates
integration = full
#query_radius = 6.

[data]
#target column names, case sensitive
target_id_column = COADD_OBJECTS_ID
target_data_column = FLUX_AUTO_{}
target_error_column = FLUXERR_AUTO_{}

#template column names, case sensitive
template_id_column = COADD_OBJECTS_ID
template_data_column = FLUX_AUTO_{}
redshift_column = zminchi2

#specify indices to use slice of target data
#if not specified, all are used
target_start_index = 134000000
target_end_index = 135000000
