#config parameters

[I/O]
#file names
template_file = /home/ckrawiec/DES/data/balrog_sva1_auto_tab01_SIM_TRUTH_zp_corr_fluxes.fits
target_file = /home/ckrawiec/DES/data/balrog_sva1_auto_tab01_SIM_TRUTH_zp_corr_fluxes.fits
output_file = /home/ckrawiec/DES/magnification/lbgselect/zproboutput/balrog_sva1_tab01_balrogz_auto_noiseless_griz_z3_3bins_full_gauss_4000000-5000000.fits

[debugging]
#debug parameters
debug = False
N_debug = 300

[parameters]
#bands to use, same case as column names require
filters = GRIZ

#redshift groups for which to calculate probability
#of target membership
redshift_ranges = [[0.1, 1.0],[1.0, 3.0], [3.0, 9.9]]

#number of threads for multiprocessing
num_threads = 12
#'tree' or 'full' integration over templates
integration = full
#query_radius = 6.

[data]
#target column names, case sensitive
target_id_column = BALROG_INDEX
target_data_column = FLUX_AUTO_{}
target_error_column = FLUXERR_AUTO_{}

#template column names, case sensitive
template_id_column = BALROG_INDEX
template_data_column = FLUX_NOISELESS_{}
redshift_column = Z

#specify indices to use slice of target data
#if not specified, all are used
target_start_index = 4000000
target_end_index = 5000000
