#config parameters

[I/O]
#file names
galaxy_template_file = /home/ckrawiec/DES/data/y1a1_gold_dfull_cosmos_flagBRmasked.fits
star_template_file = /home/ckrawiec/DES/data/Galaxia_SV390deg_desflux_radec.fits
target_file = /home/ckrawiec/DES/data/sva1_gold_auto_good_regions_no_cosmos.fits
output_file = /home/ckrawiec/DES/magnification/lbgselect/zproboutput/sva1_gold_y1dfullcosmos_flagBRmasked_auto_griz_full_gauss_z4_6bins+GalaxSV3903sig_17350000-17360000.fits

[debugging]
#debug parameters
debug = False
N_debug = 500

[parameters]
#bands to use, same case as column names require
filters = GRIZ

#redshift groups for which to calculate probability
#of target membership
redshift_ranges = [[0.001, 0.5], [0.5, 1.0], [1.0, 2.0], [2.0, 3.0], [3.0, 4.0], [4.0, 9.9]]

#number of threads for multiprocessing
num_threads = 8
#'tree' or 'full' integration over templates
integration = full
#query_radius = 5.

[data]
#target column names, case sensitive
target_id_column = COADD_OBJECTS_ID
target_data_column = FLUX_AUTO_{}
target_error_column = FLUXERR_AUTO_{}

#template column names, case sensitive
galaxy_template_id_column = COADD_OBJECTS_ID
galaxy_template_data_column = FLUX_AUTO_{}
#sq. deg.
galaxy_area = 2.
redshift_column = zminchi2

star_template_id_column = satid
star_template_data_column = flux_des_{}
#sq. deg.
star_area = 390.

#specify indices to use slice of target data
#if not specified, all are used
target_start_index = 17350000
target_end_index = 17360000
