#config parameters

[I/O]
#file names
galaxy_template_file = /home/ckrawiec/DES/data/y1a1_gold_d04_dfull_cosmos_matched_d04flagBRmasked_dfullflagBRmasked.fits
star_template_file = /home/ckrawiec/DES/data/Galaxia_SV390deg_desflux.fits
target_file = /home/ckrawiec/DES/data/y1a1_gold_d04_dfull_cosmos_matched_d04flagBRmasked_dfullflagBRmasked.fits
output_file = /home/ckrawiec/DES/magnification/lbgselect/zproboutput/y1a1_gold_d04_y1d04dfullmatchcosmosbothBR_auto_griz_full_gauss_z4_6bins+GalaxiaSV390_0-100000.fits

[debugging]
#debug parameters
debug = False
N_debug = 500

[parameters]
#bands to use, same case as column names require
filters = GRIZ

#redshift groups for which to calculate probability
#of target membership
redshift_ranges = [[0.001, 0.5], [0.5, 1.0], [1.0, 2.0], [2.0, 3.0], [3.0, 4.0], [4.0, 9.9]]

#number of threads for multiprocessing
num_threads = 8
#'tree' or 'full' integration over templates
integration = full
#query_radius = 5.

[data]
#target column names, case sensitive
target_id_column = COADD_OBJECTS_ID_d04
target_data_column = FLUX_AUTO_{}_d04
target_error_column = FLUXERR_AUTO_{}_d04

#template column names, case sensitive
galaxy_template_id_column = COADD_OBJECTS_ID_dfull
galaxy_template_data_column = FLUX_AUTO_{}_dfull
redshift_column = zminchi2_dfull

star_template_id_column = satid
star_template_data_column = flux_des_{}

#specify indices to use slice of target data
#if not specified, all are used
target_start_index = 0
target_end_index = 100000
